html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc0cb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Brush Script MT', cursive;
}

#slideshow-grid {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: none;
    float: left;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.slideshow-row {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.imgSlide {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 100%;
}

.videoSlide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.iframeSlide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    display: inline-flex;
}

#welcome {
    float: left;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#welcomeArea {
    text-align: center;
}

#welcomeArea svg {
    width: 75px;
    margin-top: 250px;
}

#ahegao-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 480px;
}

#ahegao-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
}

#load-container {
    position: relative;
    display: none;
}

#load-left {
    position: absolute;
    width: 300px;
    left: -190px;
    top: -70px;
}

#load-right {
    position: absolute;
    width: 200px;
    left: 45px;
    top: 40px;
}

.browse {
    padding: 7px;
    font-family: inherit;
    font-size: 25px;
}
#menu-hover {
    position: absolute;
    right: 0;
    width: 300px;
    height: 200px;
    z-index: 3;
}
#menu {
    color: lightgray;
    position: relative;
    float: right;
}

#menu-tip {
    font-size: 35px;
}

#menu-tip > div:nth-child(1) {
    position: absolute;
    transform: rotate(30deg);
    top: 50px;
    left: 50px;
}

#menu-tip > div:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 150px;
    transform: rotate(-20deg);
}

#bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 5px 5px 5px;
    z-index: 2;
}
#volumeControl {
    width: 40px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    position: relative;
    z-index: 2;
}
a {
    color: lightgray;
}
#settingsDialog {
    width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    z-index: 3;
    display: none;
}
#settingsClose {
    float: right;
    z-index: 4;
    position: relative;
    top: -10px;
}
#settingsClose a {
    color: black;
}
.settingsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.settingsRow.sub {
    margin-left: 20px;
    display: block;
}
.settingsRow.sub span:first-of-type {
    width: 50px;
    display: inline-block;
}

#redditForm {
    width: 300px;
    margin: 0 auto;
}

#redditForm>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#pickedSubreddits {
    text-align: right;
}

#redditSubmit {
    padding: 7px;
    font-family: inherit;
    font-size: 25px;
    width: 100%;
}



@media (orientation: portrait) and (max-width: 1000px) {
    .browse {
        font-size: 50px;
    }
    #settingsDialog {
        width: 90%;
    }
    input, button, body {
        font-size: 30px;
    }
    
    .settingsRow.sub span:first-of-type {
        width: 120px;
    }
}

@media (orientation: landscape) and (max-height: 1000px) {

    #ahegao-left {
        width: 240px;
    }

    #ahegao-right {
        width: 200px;
    }

}