html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc0cb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#slideshow-grid {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: none;
    float: left;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.slideshow-row {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.imgSlide {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 100%;
}

#welcome {
    float: left;
    margin-left: 10px;
}

.videoSlide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}
#menu {
    float: right;
    color: lightgray;
}
#bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 5px 5px 5px;
    position: relative;
    z-index: 2;
}
#volumeControl {
    width: 40px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    position: relative;
    z-index: 2;
    display: none;
}
a {
    color: lightgray;
}
#settingsDialog {
    width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    z-index: 3;
    display: none;
}
#settingsClose {
    float: right;
    z-index: 4;
    position: relative;
    top: -10px;
}
#settingsClose a {
    color: black;
}
.settingsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.settingsRow.sub {
    margin-left: 20px;
    display: block;
}
.settingsRow.sub span:first-of-type {
    width: 50px;
    display: inline-block;
}